<div class="row">
    <div class="column col-md-3 border border-dark p-md-4">
        <tree-root [nodes]="nodes" [(state)]="state" [options]="options" (activate)="nodeClicked($event)"></tree-root>
    </div>
    <div class="column col-md-9 border border-dark p-md-4">
        <ng-container *ngIf="forms">
            <div *ngFor="let form of forms.FieldList; trackBy: trackByFn" class="row m-3">
                <div class="column col-md-2">
                    <label>
                        {{form.Text}}
                    </label>
                </div>
                <div *ngIf="form.Type === 'Text_Input'" class="column col-md-10">
                    <input type="text" [(ngModel)]="data[form.Name]" />
                </div>
                <div *ngIf="form.Type === 'Drop_Down'" class="column col-md-10">
                    <select [(ngModel)]="data[form.Name]">
                        <option *ngFor="let option of form.Options; trackBy: trackByFn" [ngValue]="option.Value">
                            {{option.Display}}
                        </option>
                    </select>
                </div>
            </div>
        </ng-container>
    </div>
</div>