<h5>Tell us about you - We will recommend the right tax solution</h5>

<div class="row">
    <div class="col-xl-3 col-lg-6 mt-3" *ngFor="let question of questions">
        <div class="card card-stats mb-4 mb-xl-0" (click)="setActive(question)" [ngClass]="{'active': question.active}">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                            <img src="./assets/data/images/{{question.icon}}">
                        </div>
                    </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm text-center">
                    <span>{{question.Questionnaire}}</span>
                </p>
            </div>
        </div>
    </div>
</div>